<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Trackr" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-100 text-gray-800 font-sans">
    <% if user_signed_in? %>
       <nav class="bg-white shadow-md px-14 py-4 flex justify-between items-center sticky top-0 z-50 h-16">
    <!-- Logo linking to home -->
    <%= link_to root_path do %>
      <%= image_tag "trackr_navbar.png", alt: "Trackr Logo", class: "h-10 w-auto drop-shadow-md" %>
    <% end %>

    <div class="flex items-center space-x-4">
      <span class="text-gray-700 font-medium">
        👋 <%= [current_user.first_name, current_user.last_name].compact.join(' ').presence || current_user.email %>
      </span>

      <%= button_to "Logout",
            destroy_user_session_path,
            method: :delete,
            class: "bg-red-600 cursor-pointer text-white px-3 py-2 rounded-lg hover:bg-red-700 font-medium transition",
            form: { "data-turbo-confirm": "Are you sure you want to log out?" } %>
    </div>
  </nav>
    <% end %>

    <!-- 🔥 Flash messages -->
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/flash" %>
    <% end %>

    <!-- Main content -->
    <main class="container mx-auto mt-8 px-4">
      <%= yield %>
    </main>
    <!-- Footer -->
    <footer class="bg-white shadow-inner mt-8 py-4 text-center text-gray-500 text-sm">
      ©2025 Trackr v<%= Trackr::VERSION %> | created by Edgar Ampiire
    </footer>
  </body>
</html>
